name: Build and deploy Python app to Azure Web App - tech0-gen-11-step3-2-py-61

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies into .python_packages (Azure default)
        run: |
          python -m pip install --upgrade pip
          rm -rf .python_packages
          mkdir -p .python_packages/lib/site-packages
          pip install -r requirements.txt --target=".python_packages/lib/site-packages"

      - name: Upload artifact for deployment jobs (only required files)
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: |
            app.py
            requirements.txt
            db_control/**
            .python_packages/**
            README.md
            DigiCertGlobalRootG2.crt.pem
            migrate_sqlite_to_mysql.py
          if-no-files-found: error

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: tech0-gen-11-step3-2-py-61
          slot-name: Production
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_7BB878F00090491CB0F5C30F8BD1477C }}
